{% extends "indexnav.html" %}
{% load static %}
{% block main %}

<div class="container-fluid py-5" style="background:#f8f9fa;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="bg-white p-5 shadow rounded">
                    <div class="text-center mb-4">
                        <h3 class="text-primary">Forgot Password</h3>
                        <p>Enter your registered email to receive OTP</p>
                    </div>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <button class="btn btn-primary w-100 py-2">
                            Send OTP
                        </button>

                    </form>

                    {% if error %}
                    <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
